.dobra.depoimentos
  background-color: #0AC2BE
  display: flex
  justify-content: center
  align-items: center
  min-height: 86vh
  .depoimentos-container
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    .depoimentos-title
      text-align: center
      font-family: 'Source Sans Pro', sans-serif
      font-size: 45px
      font-weight: bold
      color: #fff
      margin-bottom: 1rem


