@import '../00-CORE/_variaveis'

.selecao-perfis
    margin: 25px 0 0 25px 
    .perfil-card
        position: relative
        width: 60vw
        height: 40vh

        &.paciente
            background: url('../../assets/images/perfil/perfil-paciente.jpg')
            background-size: cover