.grid-cta-midle-item
  position: relative
  min-height: 43vh
  &.text1
    background-color: #0AC2BE
    color: #fff
    font-family: 'Source Sans Pro', sans-serif
    font-size: 55px
    font-weight: bold
    padding: 5% 10%
    p
      width: 80%
  &.image
    background-color: #0AC2BE
  &.text2
    color: #00858F
    font-family: 'Source Sans Pro', sans-serif
    font-size: 45px
    font-weight: bold
    padding: 5% 0 0 10%
    p
      width: 100%
  &.text3
    font-family: 'Montserrat', sans-serif
    font-size: 18px
    span
      position: absolute
      right: 0
      bottom: 0
      width: 60%
      text-align: right
      p
        margin-bottom: 1rem

