.paciente_topo
    top: 0
    left: 50%
    transform: translateX(-50%)
    display: flex
    align-items: center
    justify-content: space-between
    background-color: #fff
    max-width: 1280px
    margin: 0 auto
    position: fixed
    height: 10vh
    z-index: 3
