.perfil-card
    position: relative
    border-radius: 10px

.selecao-perfis
    .perfil-card
        min-width: 60vw
        min-height: 50vh
@media (min-width: 768px) 
    .selecao-perfis
        .perfil-card