@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  max-height: 100%;
  max-width: 100%;
  color: inherit;
}

html {
  scroll-behavior: smooth;
}

html {
  font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: normal;
}

.identificador {
  position: absolute;
  top: -10vh;
  background-color: red;
}

.margin-bottom {
  margin-bottom: 5vh;
}

.only_mobile {
  display: block;
}

@media (min-width: 769px) {
  .only_mobile {
    display: none !important;
  }
}
@media (max-width: 769px) {
  .only_desktop {
    display: none !important;
  }
}
.is-hidden {
  opacity: 0;
  transition: 1.5s ease;
}

.link-perfil {
  position: absolute;
  cursor: pointer;
  width: 33%;
  height: 100%;
  z-index: 1;
}
.link-perfil#link-paciente {
  top: 0;
  left: 0;
}
.link-perfil#link-medico {
  top: 0;
  right: 0;
}

.img-perfil-card {
  filter: greyscale(1);
}
.img-perfil-card #perfil-medico {
  object-position: right;
}
.img-perfil-card img {
  min-height: 100vh;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
  filter: grayscale(1);
}

.link-perfil#link-paciente:hover ~ .perfil-card.paciente .img-perfil-card img {
  transform: scale(1.1);
  cursor: pointer;
  filter: grayscale(0);
}

.link-perfil#link-medico:hover ~ .perfil-card.medico .img-perfil-card img {
  transform: scale(1.1);
  cursor: pointer;
  filter: grayscale(0);
}

header.paciente_topo .paciente-menu-topo ul {
  display: flex;
  gap: 2rem;
  align-items: center;
  height: 100%;
}
header.paciente_topo .paciente-menu-topo ul li a {
  font-weight: bold;
  text-transform: uppercase;
  color: #1B5E83;
}

.text-cta-hero span {
  left: 0;
  position: absolute;
  width: 100%;
  padding: 0 3rem;
}

.perfil-card {
  overflow: hidden;
  position: relative;
}

.perfil-info-paciente {
  position: absolute;
  right: 5%;
  bottom: 10%;
  width: 14rem;
  filter: brightness(1.8);
  transition: all 0.5s ease-in-out;
}
.perfil-info-paciente .arrow-left {
  position: relative;
}
.perfil-info-paciente .arrow-left .arrow-left-text {
  position: absolute;
  top: 20%;
  right: 20%;
  text-align: right;
  color: #005E85;
}
.perfil-info-paciente .arrow-left .arrow-left-text p {
  font-size: 1.3rem;
  margin-bottom: -5px;
}
.perfil-info-paciente .arrow-left .arrow-left-text h3 {
  font-size: 1.7rem;
  font-weight: bold;
}
.perfil-info-paciente:hover {
  filter: brightness(1);
}

.link-perfil#link-paciente:hover ~ .perfil-card.paciente .perfil-info-paciente {
  filter: brightness(1);
}

.perfil-info-medico {
  position: absolute;
  left: 5%;
  bottom: 10%;
  width: 14rem;
  filter: brightness(1.8);
  transition: all 0.5s ease-in-out;
}
.perfil-info-medico .arrow-right {
  position: relative;
}
.perfil-info-medico .arrow-right .arrow-right-text {
  position: absolute;
  top: 20%;
  left: 20%;
  text-align: right;
  color: #005E85;
}
.perfil-info-medico .arrow-right .arrow-right-text p {
  font-size: 1.3rem;
  margin-bottom: -5px;
}
.perfil-info-medico .arrow-right .arrow-right-text h3 {
  font-size: 1.7rem;
  font-weight: bold;
}
.perfil-info-medico:hover {
  filter: brightness(1);
}

.link-perfil#link-medico:hover ~ .perfil-card.medico .perfil-info-medico {
  filter: brightness(1);
}

.cta-hero-perfis {
  position: relative;
  background: linear-gradient(344.6deg, #01ACBE 15.31%, #00858F 91.93%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), -5px 4px 20px rgba(0, 0, 0, 0.25);
  color: #fff;
  text-align: center;
  padding: 3rem 1rem;
}
.cta-hero-perfis .logo {
  width: 50%;
  margin-bottom: 1rem;
}
.cta-hero-perfis h3 {
  font-size: 28px;
  margin-bottom: 1rem;
}
.cta-hero-perfis p {
  padding: 2rem;
  font-size: 18px;
}
.cta-hero-perfis .text-cta-hero {
  text-align: center;
  font-size: 23;
  font-weight: bold;
}

header.paciente_topo {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  height: 14vh;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 5%;
  min-width: 90%;
  flex: 1;
  z-index: 999;
}

.hero-banner {
  margin-top: 14vh;
  position: relative;
  height: 86vh;
  border: 2px solid #000;
}
.hero-banner img {
  position: absolute;
  max-height: 100%;
}
.hero-banner img.hero-banner-elipse {
  z-index: 6;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 20%;
}

main .selecao-perfis {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;
}

.pg-paciente {
  max-width: 90%;
  margin: 0 auto;
  min-height: 100vh;
}

/*# sourceMappingURL=styles.css.map */
