@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  max-height: 100%;
  max-width: 100%;
  color: inherit;
}

html {
  scroll-behavior: smooth;
}

html {
  font-family: "Maven Pro", sans-serif;
}

.margin-bottom {
  margin-bottom: 5vh;
}

.only_mobile {
  display: block;
}

@media (min-width: 769px) {
  .only_mobile {
    display: none !important;
  }
}
@media (max-width: 769px) {
  .only_desktop {
    display: none !important;
  }
}
.perfil-name {
  position: absolute;
  background-color: #1b5e83;
  color: #fff;
  width: 90%;
  bottom: 0;
  border-bottom-left-radius: 10px;
  padding: 3px 7px;
}

@media (min-width: 769px) {
  .perfil-card:not(.perfil-hovered) .perfil-name {
    transform: rotate(180deg);
    padding: 7px 3px;
    writing-mode: vertical-rl;
  }
  .perfil-card .perfil-name {
    font-size: 2em;
    padding: 10px 20px;
    width: 50%;
    border-radius: 0px 10px 0px 10px;
  }
}
.perfil-card .icon {
  position: absolute;
  transform: rotate(-40deg);
  transform-origin: center;
  width: 50px;
  bottom: 7%;
  right: 5%;
  z-index: 1;
}

.perfil-card .icon.only_desktop {
  transform: rotate(0);
}

.perfil-card:not(.perfil-hovered) .icon {
  display: none;
}

@media (max-width: 768px) {
  .perfil-card:not(.perfil-hovered) .icon {
    display: block;
  }
}
.cta-hero h3 {
  font-size: 1.7em;
  color: #fff;
  width: 75%;
  margin-top: 1em;
}

@media (min-width: 769px) {
  .cta-hero {
    margin-top: 50px;
  }
  .cta-hero h3 {
    font-size: 2.5em;
  }
}
.cta-hero .icon {
  float: left;
  transform-origin: center;
  width: 40px;
}

@media (max-width: 768px) {
  .cta-hero .icon {
    transform: rotate(90deg);
  }
}
@media (min-width: 769px) {
  .cta-hero .icon {
    float: none;
    transform: rotate(0deg);
  }
}
header.paciente_topo picture img {
  height: 9vh;
}

@media (min-width: 769px) {
  #logo {
    width: 300px;
  }
}
.paciente-menu-topo-link {
  text-transform: uppercase;
  font-weight: bold;
  color: #00858f;
}

.img-cta1 {
  position: absolute;
  left: 40%;
  bottom: 8%;
  width: 50vw;
}

.cta-hero {
  margin-left: 25px;
  position: relative;
}
.cta-hero .icon {
  position: absolute;
  bottom: 1.2em;
  right: 10px;
}

@media (min-width: 769px) {
  .cta-hero {
    width: 40%;
  }
}
.paciente-menu-topo ul {
  display: flex;
  gap: 2em;
  z-index: 2;
}

.perfil-card {
  position: relative;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.4s ease-out;
}

@media (max-width: 768px) {
  .selecao-perfis .perfil-card {
    min-width: 60vw;
    min-height: 50vh;
  }
}
@media (min-width: 769px) {
  .selecao-perfis .perfil-card {
    width: 10vw;
    height: 70vh;
  }
  .selecao-perfis .perfil-card.perfil-hovered {
    width: 60vw;
  }
}
footer nav.menu-mobile {
  height: 100%;
  display: flex;
  flex: 1;
  width: 100%;
  bottom: 0;
}
footer nav.menu-mobile ul {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-around;
}
footer nav.menu-mobile ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  cursor: pointer;
}
footer nav.menu-mobile ul li.mobile-menu {
  background-color: #0f9ea9;
}
footer nav.menu-mobile ul li.mobile-menu img {
  height: 40%;
}
footer nav.menu-mobile ul li.mobile-location {
  background-color: #00858f;
}
footer nav.menu-mobile ul li.mobile-phone {
  background-color: #1e6d84;
}
footer nav.menu-mobile ul li.mobile-whatszap {
  background-color: #1b5e83;
}
footer nav.menu-mobile ul li img {
  height: 60%;
}

.menu-area {
  padding: 10px 20px;
}

@media (min-width: 769px) {
  .menu-area {
    max-width: 1280px;
    margin: 0 auto;
  }
}
.paciente_topo {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  max-width: 1280px;
  margin: 0 auto;
  position: fixed;
  height: 10vh;
  z-index: 3;
}

.banner {
  position: relative;
  height: 100vh;
}
.banner img {
  position: absolute;
}
.banner img#cc {
  right: 0;
  bottom: 0;
  width: 55vw;
  height: 55vw;
}
.banner img#modelo {
  bottom: 0;
  right: 10vw;
  z-index: 2;
}
.banner img#raios_branco {
  right: 0px;
  top: 40px;
  width: 30vw;
  z-index: 1;
}
.banner img#raios_roxo {
  left: 45vw;
  top: 15vw;
  width: 15vw;
  z-index: 1;
}
.banner img#meia_elipse {
  bottom: 0;
  right: 0;
  width: 28vw;
  height: 22vw;
  z-index: 3;
}
.banner img#raios_verde {
  top: -10vw;
  left: 35vw;
  width: 30vw;
  z-index: 1;
}
.banner h2 {
  position: absolute;
  font-family: "Maven Pro", sans-serif;
  text-transform: uppercase;
  color: #1b5e83;
  font-size: 6vw;
  left: 10vw;
  top: 10vw;
}

.cards {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  color: #fff;
  font-family: "Maven Pro", sans-serif;
  width: 100vw;
}
.cards .card {
  position: relative;
  height: 60vh;
  text-align: center;
}
.cards .card .card-front {
  position: absolute;
  z-index: 2;
}
.cards .card .card-front .avatar {
  border-radius: 50%;
  width: 33%;
  margin: 1em;
}
.cards .card .card-front h2 {
  text-transform: uppercase;
  margin-bottom: 1em;
}
.cards .card .card-front .card-text {
  font-size: 1.1em;
  font-weight: 500;
}
.cards .card .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
}
.cards .card .card-back .backgroundImage {
  opacity: 0.25;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  z-index: 1;
}
.cards .card#cirurgia-refrativa {
  background-image: url("http://localhost/eyelaser//app/assets/images/cards/bg-refrativa.png");
  background-size: cover;
}
.cards .card#ceratocone {
  background-image: url("http://localhost/eyelaser//app/assets/images/cards/bg-ceratocone.png");
  background-size: cover;
}
.cards .card#olho-seco {
  background-image: url("http://localhost/eyelaser//app/assets/images/cards/bg-olho-seco.png");
  background-size: cover;
}

@media (width >= 769px) {
  .cards {
    flex-direction: row;
  }
  .cards .card {
    width: 33.3333333333%;
  }
}
.cta1 {
  height: 50vh;
  height-position: relative;
}
.cta1.superior {
  background-color: #0ac2b3;
  color: #fff;
}
.cta1.superior h2 {
  width: 35%;
}
.cta1.inferior {
  color: #00858f;
}
.cta1.inferior h2 {
  width: 55%;
  padding-top: 2em;
}
.cta1 h2 {
  padding: 1em;
  font-size: 2.9em;
}
.cta1 p {
  color: #000;
  text-align: right;
  width: 30%;
  right: 0;
  transform: translateX(200%);
}

.bg-main {
  background-color: #00858f;
}

.main {
  overflow: hidden;
  margin-bottom: 10px;
}

@media (min-width: 769px) {
  .main {
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
  }
}
@media (width >= 769px) {
  .paciente-main {
    max-width: 1280px;
  }
}
.selecao-perfis {
  display: flex;
  gap: 20px;
  padding: 25px;
  width: 200vw;
  overflow-x: scroll;
}
.selecao-perfis .perfil-card.paciente {
  background: url("../../assets/images/perfil/perfil-paciente.jpg");
  background-size: cover;
  background-position: 30%;
}
.selecao-perfis .perfil-card.medico {
  background: url("../../assets/images/perfil/perfil-medico.png");
  background-size: cover;
  background-position: 80%;
}

@media (min-width: 769px) {
  .selecao-perfis {
    width: 60vw;
    overflow: hidden;
    align-items: center;
  }
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 8vh;
  width: 100vw;
  border-top: 2px solid #fff;
  z-index: 2;
}

@media (min-width: 769px) {
  footer {
    border: 0;
  }
}
body {
  background: #fff;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #fff;
  width: 100vw;
}

.dobra {
  min-height: 100vh;
}

.pg-paciente {
  max-width: 1280px;
  margin: 0 auto;
  background-color: #fff;
}
.pg-paciente main {
  width: 100%;
}
.pg-paciente main .banner {
  margin-top: 10vh;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.container .link {
  width: 100vw;
  height: 50vh;
  background-size: cover;
  cursor: pointer;
}
.container .link.medico {
  background: url("https://via.placeholder.com/600/fec?text=Médico") center center no-repeat;
}
.container .link.paciente {
  background: url("https://via.placeholder.com/600/fce?text=Paciente") center center no-repeat;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }
  .container .link {
    width: 50vw;
    height: 100vh;
  }
  .container .link.medico {
    background: url("https://via.placeholder.com/1250/fec?text=Médico") center center no-repeat;
  }
  .container .link.paciente {
    background: url("https://via.placeholder.com/1250/fce?text=Paciente") center center no-repeat;
  }
}

/*# sourceMappingURL=styles.css.map */
