.hero-banner-title
  color: #1B5E83
  text-transform: uppercase
  line-height: 2rem
  position: absolute
  bottom: 30%
  right: 73%
  .bold
    font-weight: 700
    font-size: 4vw
  .semi-bold
    font-weight: 600
    font-size: 3vw
  .extra-bold
    font-weight: 900
    font-size: 5.2vw
@media (width < 768px)
  .hero-banner-title
    line-height: 1rem
