.cta-hero .icon
    float: left
    transform-origin: center
    width: 40px

@media (max-width: 768px)
    .cta-hero .icon
        transform: rotate(90deg)


@media (min-width: 769px)
    .cta-hero .icon
        float: none
        transform: rotate(0deg)