@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  max-height: 100%;
  max-width: 100%;
  color: inherit;
}

body {
  background-color: #fff;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.container .link {
  width: 100vw;
  height: 50vh;
  background-size: cover;
  cursor: pointer;
}
.container .link.medico {
  background: url("https://via.placeholder.com/600/fec?text=Médico") center center no-repeat;
}
.container .link.paciente {
  background: url("https://via.placeholder.com/600/fce?text=Paciente") center center no-repeat;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }
  .container .link {
    width: 50vw;
    height: 100vh;
  }
  .container .link.medico {
    background: url("https://via.placeholder.com/1250/fec?text=Médico") center center no-repeat;
  }
  .container .link.paciente {
    background: url("https://via.placeholder.com/1250/fce?text=Paciente") center center no-repeat;
  }
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 5vh;
  width: 100vw;
  border-top: 2px solid #fff;
}
footer nav.only_mobile {
  height: 100%;
  display: flex;
  flex: 1;
  width: 100%;
}
footer nav.only_mobile ul {
  display: flex;
  flex: 1;
}
footer nav.only_mobile ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  cursor: pointer;
}
footer nav.only_mobile ul li.mobile-menu {
  background-color: #0f9ea9;
}
footer nav.only_mobile ul li.mobile-location {
  background-color: #00858f;
}
footer nav.only_mobile ul li.mobile-phone {
  background-color: #1e6d84;
}
footer nav.only_mobile ul li.mobile-whatszap {
  background-color: #1b5e83;
}
footer nav.only_mobile ul li img {
  height: 70%;
}

header.paciente_topo picture img {
  padding: 1em 2em 0 2em;
  height: 12.5vh;
}

.banner {
  position: relative;
  height: 50vw;
}
.banner img {
  position: absolute;
}
.banner img#cc {
  right: 0;
  bottom: 0;
  width: 55vw;
  height: 55vw;
}
.banner img#modelo {
  bottom: 0;
  right: 10vw;
  z-index: 9;
}
.banner img#raios_branco {
  right: 0px;
  top: 40px;
  width: 30vw;
  z-index: 8;
}
.banner img#raios_roxo {
  left: 45vw;
  top: 15vw;
  width: 15vw;
  z-index: 10;
}
.banner img#meia_elipse {
  bottom: 0;
  right: 0;
  width: 28vw;
  z-index: 10;
  height: 22vw;
}
.banner img#raios_verde {
  top: -10vw;
  left: 35vw;
  width: 30vw;
  z-index: 5;
}
.banner h2 {
  position: absolute;
  font-family: "Maven Pro", sans-serif;
  text-transform: uppercase;
  color: #1b5e83;
  font-size: 6vw;
  left: 10vw;
  top: 10vw;
}

.cards {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  color: #fff;
  font-family: "Maven Pro", sans-serif;
}
.cards .card {
  position: relative;
  height: 60vh;
  text-align: center;
  padding: 1em;
}
.cards .card .avatar {
  border-radius: 50%;
  width: 33%;
  margin: 1em;
}
.cards .card .backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  object-fit: cover;
  z-index: -1;
}
.cards .card h2 {
  text-transform: uppercase;
  margin-bottom: 1em;
}
.cards .card p {
  font-size: 1.1em;
  font-weight: 500;
}
.cards .card#cirurgia-refrativa {
  background-color: rgba(10, 194, 190, 0.7921568627);
}
.cards .card#ceratocone {
  background-color: rgba(0, 133, 143, 0.7921568627);
}
.cards .card#olho-seco {
  background-color: rgba(27, 94, 131, 0.7921568627);
}

.only_mobile {
  display: block;
}

.only_mobile ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.margin-bottom {
  margin-bottom: 5vh;
}
.margin-bottom .only_mobile {
  display: none;
}

/*# sourceMappingURL=styles.css.map */
